@import '../../global/abstracts/variables';

// variables 

$primary-text-color: #212129;
$secondary-text-color: #4D4D54;
$error-color: $dark-red;
$background-color: $whitesmoke;
$white-background: $white;
$input-border-color: #919194;
$button-primary-color: #003359;
