.scr-icon-color {
	--slds-c-icon-color-background: teal;
}

.scr-popup-button {
	--slds-c-button-sizing-border: 5px;
}

.feed-card {
	height: 100%;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.no-wrap {
	white-space: normal;
}

.header-color {
	color: royalblue;
}

.wrapped-content{
	overflow-wrap: break-word;
}