/*********************** CSSO Light custom CSS **********************
Developer: George Metaxas
Australia Post

DATE: 2013
/******************************************************************/
/************************ Global overrides ************************/
/******************************************************************/
.cssolight-container a {
    text-decoration: underline;
}
.tabs-is-white .nav-container {
    display: block !important;
    border-spacing: 0px !important;
    margin: 0 -1px -1px !important;
}
.tabs-container .nav-container ul li a,.tabs-container .nav-container ul li.active a:hover
    {
    text-decoration: none;
}
.tabs-container .nav-container ul li a:hover {
    text-decoration: underline;
}
.content-panel p a,.content-panel li a {
    text-decoration: underline;
}
.content-panel .gi-top h2 a {
    text-decoration: none !important;
}
.content-panel .gi-top h2 a:hover {
    text-decoration: underline !important;
}
.input-columns .input-options li {
    margin-right: 20px;
}
/******************************************************************/
/******************* MORE CSSO - Global updates********************/
.account-n a {
    text-decoration: underline;
}

/****INFOTIP****/
button.tooltip {
    background: #ffffff url('images/icon_tooltip.png') no-repeat !important;
    border: none !important;
    margin: 0px !important;
    padding: 0px !important;
    position: relative;
    text-indent: -10000px;
    width: 17px;
    height: 17px;
    display: inline-block !important;
}
.with-tip {
    width: 300px;
    clear: both;
}
div.tooltip {
    width: 300px !important;
}

/******************************************************************/
/****************** CSSO widget global - ICAMS header *************/
/******************************************************************/
dl.csso-global {
    margin: 0 0 0 auto !important;
    width: 270px;
    text-align: right;
}
dl.csso-global dt span.csso-icon {
    background: url(images/csso-account2.png) no-repeat left 0;
    height: 20px;
    padding-left: 25px;
    display: inline-block;
    vertical-align: middle;
}
dl.csso-global dt.active-session span.acc-options {
    background: url(images/csso-drop-arrow.png) no-repeat right 0;
    height: 8px;
    padding: 0 0 2px 20px;
    display: inline-block;
    vertical-align: middle;
}
dt.active-session {
    text-align: right;
    z-index: 100;
}
dd.csso-menu {
    margin: 3px 0 0 0 !important;
    z-index: 1000;
    position: relative;
    background: #5e514d;
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
    width: 202px;
    left: 68px;
}
ul.csso-options {
    padding-bottom: 10px;
}
ul.csso-options li {
    float: none !important;
    font-family: "letter_one", Arial, sans-serif;
    font-size: 13px;
    padding: 6px 20px;
    margin: 0 !important;
    text-align: left !important;
}
ul.csso-options li a {
    color: #fff;
}
ul.csso-options li a:hover {
    color: #fff;
}
ul.csso-options li.first {
    padding-top: 20px;
}
ul.csso-options li.acc-no {
    font-family: Arial, sans-serif;
    background: #edeae6 !important;
    padding: 18px 20px !important;
}
ul.csso-options li.acc-no span {
    font: normal 16px/26px letter_one, Arial, sans-serif !important;
    color: #5e514d !important;
    display: inline-block;
}

/******************************************************************/
/********************* CSSO fancybox ******************************/
/******************************************************************/
body.fancybox {
    min-width: 610px !important;
    width: 610px !important;
}
.cssolight-container {
    background: #fff;
    width: 610px;
    padding: 15px;
}
.first-name input, .last-name input {
	width: 248px !important;
}
.login-inputs .input-medium {
	width: 270px !important;
}
/********* Alternate CSSO entry from unprotected sources **********/
/******************************************************************/
#user-form .nav-container ul.nav li.first-child,#user-form .nav-container ul.nav li.last-child {
    width: 305px !important;
}
form.csso-create-account {
    margin: 10px 0;
}
form.csso-login {
    margin-bottom: 10px;
}
.cssolight-container h1 {
    margin-top: 0 !important;
}
.form-tabs {
    border: 1px solid #D9D5CE;
    padding: 20px 20px 0 !important;
}
.cssolight-container ul.tabs-back-next {
    display: none !important;
}
.tabs-container,.tabs-container .tabs {
    margin: 0 0 0 0 !important;
}
.input-email {
    width: 350px;
}
input.email-field {
    width: 250px;
}
/* .form-actions {
    float: right;
    clear: both;
    display: inline-block;
} */
.csso-password input {
    width: 248px !important;
}
form fieldset.subscriptionContainer,form fieldset.contactContainer {
    margin: 0px !important;
}
span.secure-lock {
    float: left;
    background: url(images/secure-lock-inner.png) no-repeat left 0;
    height: 30px;
    display: block;
    padding: 0 0 0 25px;
    width: 45px;
    font-size: 10px;
    line-height: 14px;
    margin: 10px 0 0 10px;
}
.disclaimer {
    margin: 0 0 10px !important;
    padding-top: 0 !important;
    border: 0 !important;
}
.intro-content .value-proposition {
    margin-bottom: 0 !important;
}
/********************** Password indicator  ***********************/
/******************************************************************/
.password {
    font-size: 13px;
    border: 1px solid #c93;
    width: 200px;
    font-family: arial, sans-serif;
}
.pstrength-minchar {
    font-size: 10px;
}
.csso-strength-indicator {
    margin-left: 20px;
    display: inline-block;
    position: relative;
    width: 230px;
    top: -8px;
}


/********************** CSSO 404  *********************************/
/******************************************************************/
.csso-404 .csso-start-cta {
    display: none;
}

/******************************************************************/
/********************* CSSO Pages - Custom CSS ********************/
/******************************************************************/
/********************* Account info module ************************/
.csso-account-info {
    border: 1px solid #E2DFDA;
    padding: 19px 19px 9px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin: 20px 0;
}
.account-details,.account-number {
    float: left;
    width: 365px;
}
.account-details {
    border-right: 1px solid #E2DFDA;
    margin-right: 20px;
}
.account-details h2 {
    margin: 0 !important;
}
.acc-options input {
    float: left;
    margin-right: 10px;
}
.acc-options a {
    float: left;
    margin-right: 10px;
}
.account-details p span,p.cust-no span {
    font: normal 16px/26px letter_one, Arial, sans-serif;
    color: #5E514D;
}
p.cust-no {
    margin-top: 0 !important;
}
.grid-items li .redirect-list {
    margin-left: -241px;
}
.input ul.address-validation li {
    padding: 10px 0;
}
.contactContainer .first-name label,.contactContainer .last-name label {
    height: 20px !important;
}

/********************* New invitation *****************************/
/******************************************************************/
.input-options li.role-select {
    width: 200px !important;
}
.input-options li.role-select label {
    display: inline;
    padding-left: 0px !important;
}
/******************************************************************/
/********************* CSSO CUSTOM BROWSER FIXES ******************/
/******************************************************************/
/********************* IE8 CSS fixes ******************************/
.lt-ie9 .tabs-is-white .nav-container {
    margin: 0 0 -1px !important;
}
html.no-flexbox body.lt-ie9 {
    min-width: 610px !important;
}
.lt-ie9 .input-large {
    width: 410px !important;
}
.lt-ie9 .from-address, #domestic-to-address {
    width: auto !important;
}
.lt-ie9 .details-state select {
    width: 130px !important;
}
.lt-ie9 .details-state select:focus {
    width: auto !important;
}
.lt-ie9 .first-name input, .lt-ie9 .last-name input {
    width: 248px !important;
}
.lt-ie9 .login-inputs .input-medium {
    width: 270px !important;
}
/******************** Firefox tab alignment fix ******************/
@
-moz-document url-prefix () { .tabs-container , .tabs-container .tabs {
    margin:-1px!important;  }
}