/* 
2020-07-06 Hara Sahoo:  Added styling for help and support form uplift as per the new designs
*/
.THIS .sub-header { 
    padding-bottom:32px;
    padding-top:32px;
}
@media (max-width: 680px) {
.THIS .sub-header {
    padding-bottom:32px;
    padding-top:20px;
}
}
.THIS .chas-button-box {
border-top: none;
padding-top:0px !important;
flex-direction: row;
}