/*********************** CSSO Light custom CSS **********************
Developer: George Metaxas
Australia Post

DATE: 2013
/******************************************************************/
/************************ Global overrides ************************/
/******************************************************************/
/* apply a natural box layout model to all elements */
* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
/* GLOBAL FIXES */
.people-name input {
	height: 31px !important;
}
.copy a {
	text-decoration: underline;
}
span.underField {
	display: block;
}
/******************************************************************/
/***************** MRSO/COAN - Global overrides *******************/
/******************************************************************/
/* Thin footer size overrides */
#footer {
	padding-top: 0 !important;
}
.sub-footer-links {
	margin-bottom: 20px !important;
}
/* END Thin footer size overrides */
span.footer-secure-lock {
	float: left;
	background: url(../images/secure-lock-inner.png) no-repeat left 0;
	height: 30px;
	display: block;
	padding: 6px 0 0 25px;
	width: 102px;
	font-size: 11px;
	line-height: 14px;
	margin: 10px 0 0 10px;
	color: #444;
}
/* Application header style */
.l-header {
	background: url("../images/bg-header-app-outer.png") repeat-x !important;
}
.top-nav {
	height: 30px !important;
}
.primary-nav h3 {
	color: #382f2d !important;
}
.header {
	width: 100%;
	margin-top: 30px;
	height: 81px;
	background-color: #fbf8f1;
	border-bottom: 1px #ebeaea;
}
.nav {
	max-width: 940px;
	width: 92.1%;
	box-sizing: border-box;
	margin: 0 auto;
}
.nav img {
	margin-top: 10px;
}
.top-nav {
	width: auto;
}
.l-header {
	min-width: 100%;
	margin: inherit auto;
} 
/* END Application header style */

/******************************************************************/
/***************** MRSO custom form rules *************************/
/******************************************************************/

.moveType {
	margin-right: 20px;
}
ul {
	padding-left: 0;
}
ul.choose-duration li {
	display: inline-block;
	margin: 0 !important;
}
ul.choose-duration li label {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px/3px;
	-khtml-border-radius: 3px/3px;
	border-radius: 3px;
	width: 145px;
	margin: 10px 30px 10px 0px;
	padding: 20px;
	border: 1px solid #e2dfda;
	cursor: pointer;
	text-align: center;
	font-size: 16px;
	font-family: "Letter_one", sans;
	font-weight: bold;
}
ul.choose-duration li label:hover {
	background: #FAF8F5;
	color: #382F2D;
	-moz-box-shadow:    inset 0 0 3px #807370;
	-webkit-box-shadow: inset 0 0 3px #807370;
	box-shadow:         inset 0 0 3px #807370;
}
.extend-date {
	position: relative;
	height: 104px;
	top:30px;
	float: left;
}
ul.extendDates {
	width: 730px;
	float: left;
	margin: 0px;
}
.extend-end {
	margin-top: 0px !important;
}
.price-extend .total-price {
	margin: 0 0 0 0 !important;
}
p.GST-note {
	margin-top: 0px !important;
}
ul.choose-duration li label .price, ul.choose-duration li label span.price {
	font-family: Arial, "Sans Serif";
	font-size: 13px;
	font-weight: normal;
}
.total-price {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px/3px;
	-khtml-border-radius: 3px/3px;
	border-radius: 3px;
	padding: 20px;
	border: 1px solid #e2dfda;
	text-align: center;
	font-size: 16px;
	font-family: "Letter_one", sans;
	font-weight: bold;
	margin: -20px 0 0 0 !important;
	background: #FAF8F5;
	color: #382F2D;
	-moz-box-shadow:    inset 0 0 3px #807370;
	-webkit-box-shadow: inset 0 0 3px #807370;
	box-shadow:         inset 0 0 3px #807370;
	width: 180px !important;
}
span.price-info {
	font-size: 11px;
	font-weight: normal;
	font-family: Arial, "Sans Serif";
	color: #807370;
}
fieldset {
	border-bottom: 1px solid #d9d9d9;
	padding: 10px 0 20px;
}
.infotip {
	position: relative;
	margin-top: 6px;
	text-indent: 0;
	overflow: visible;
}
.tooltip {
	min-width: 250px;
	left: 22px;
	top: -20px;
	text-align: left;
}
button.infotip .tooltip {
	display:none !important;
}
button.infotip .tooltip:hover {
	display:block !important;
}
.tooltip p {
	color: #333333;
}
input, textarea, select, input[type=text], input[type=email] {
	height: auto;
}
#inputFinishDate {
	display: none;
}
.cleared {
	clear: both;
}
.address-boxes {
	width: 930px !important;
}
.dates {
	float: left;
}
.international-address-input, .domestic-multiline-to-address, #domestic-to-address {
	float: right !important;
	width: 450px;
}
.int-field {
	margin-top: 15px !important;
}
.int-state {
	width: 108px !important;
	margin-left: 0 !important;
}
.int-address {
	margin-left: 0 !important;
}
.input-large select {
	width: 388px !important;
}
.int-small-extra input {
	width: 118px !important;
}
.int-city, .int-city input {
	width: 140px !important;
	margin-right: 10px !important;
}
.input-group .input label {
	height: 18px !important;
}
.people-age-check {
	margin-top: 5px !important;
}
.people-name label {
	margin-bottom: -2px !important;
}
.from-address {
	margin-right: 20px !important;
}
.domestic-multiline-from-address {
	margin-right: 20px !important;
	float: left !important;
	width: 450px;
}
.qas-domestic-state select {
	width: 108px !important;
}
.person {
	float: left;
	width: 28%;
}
.ageCheck input {
	float: left;
	display: inline-block;
}
.note {
	display: block;
	clear: left;
}
.formText {
	clear: both;
}
.input-large {
	width: auto;
}
.label-full {
	width: 100%;
}
.input ul.full li {
	width: 100% !important;
}
.existing-extend {
	margin-top: 0px !important;
}
.existing-extend-dates {
	width: 170px !important;
}
.input-group .other-applicant {
	padding-top: 20px !important;
}
text-area.send-message, .send-message {
	width: 507px !important;
}

/******************************************************************/
/***************** IDV skin - hosted with edentity ****************/
/******************************************************************/
.idv-iframe {
	min-height: 665px;
	width: 940px;
}
.payment-iframe {
	min-height: 486px;
	width: 920px;
}
.mrso-identification-sources {
	margin: 20px 0 40px 0;
	clear: both;
}
.leftCol {
	float: left;
	width: 253px;
}
.leftCol .wrapper ul.block {
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
}
.leftCol .wrapper ul.block li {
	margin: 0;
	background: #fbf8f1;
	font: 700 13px/16px "letter_one", Arial, sans-serif;
	color: #382F2D;
	padding: 12px 20px 12px 20px;
	-webkit-border-top-left-radius: 3px;
	border-top-left-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	border-bottom-left-radius: 3px;
	border-right: none;
	border: 1px solid white;
	outline: none;
	cursor: pointer;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
	margin: 3px 0;
}
.leftCol .wrapper ul.block li a {
	color: #382F2D;
	text-decoration: none;
}
.leftCol .wrapper ul.block li:hover, .leftCol .wrapper ul.block li.search:hover, .leftCol .wrapper ul.block li.most-notified:hover {
	color: #807370;
	text-decoration: underline;
}
.leftCol .wrapper ul.block li.active, .leftCol .wrapper ul.block li.search-active, .leftCol .wrapper ul.block li.most-notified-active {
	background: white;
	border-top: 1px solid #D9D5CE;
	border-left: 1px solid #D9D5CE;
	border-bottom: 1px solid #D9D5CE;
	-webkit-border-top-left-radius: 3px;
	border-top-left-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	border-bottom-left-radius: 3px;
	border-right: none;
	color: #807370;
	z-index: 100;
	position: relative;
}
.leftCol .wrapper ul.block li.active a, .leftCol .wrapper ul.block li.search-active a, .leftCol .wrapper ul.block li.most-notified-active a {
	color: #807370;
}
.leftCol .wrapper ul.block li.completed {
	background: #fbf8f1 url("images/tick-green.png") no-repeat 220px 14px;
}
.leftCol .wrapper ul.block li.star {
	background: #fbf8f1 url("images/star.png") no-repeat 220px 14px;
}
.leftCol .wrapper ul.block li.active-completed {
	background: #fff url("images/tick-green.png") no-repeat 220px 14px;
	border-top: 1px solid #D9D5CE;
	border-left: 1px solid #D9D5CE;
	border-bottom: 1px solid #D9D5CE;
	-webkit-border-top-left-radius: 3px;
	border-top-left-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	border-bottom-left-radius: 3px;
	border-right: none;
	color: #807370;
	z-index: 100;
	position: relative;
}
.leftCol .wrapper ul.block li.failed-active {
	background: #fff url("images/idv-failed.png") no-repeat 220px 14px;
	border-top: 1px solid #D9D5CE;
	border-left: 1px solid #D9D5CE;
	border-bottom: 1px solid #D9D5CE;
	-webkit-border-top-left-radius: 3px;
	border-top-left-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	border-bottom-left-radius: 3px;
	border-right: none;
	color: #807370;
	z-index: 100;
	position: relative;
}
.leftCol .wrapper ul.block li.failed {
	background: #fbf8f1 url("images/idv-failed.png") no-repeat 220px 14px;
}
.leftCol .wrapper ul.block li.disabled, .leftCol .wrapper ul.block li.disabled a {
	background: #fff;
	border: 0;
	color: #CDC6C5 !important;
}
ul.left-tabbed-selector li.selected .selector-box-outer {
	display: block;
}
.leftCol label, .leftCol p {
	font-family: Arial, sans-serif !important;
	font-weight: normal !important;
	color: #807370 !important;
}
.centreCol .sources p, .centreCol .sources label, .centreCol .sources li {
	font-family: Arial, sans-serif !important;
	font-weight: normal !important;
	color: #807370 !important;
}
.leftCol .wrapper ul.block li:first-child {
	-webkit-border-radius: 3px 0 0 0;
	-moz-border-radius: 3px 0 0 0/3px;
	-khtml-border-radius: 3px 0 0 0/3px;
	border-radius: 3px 0 0 0;
}
.centreCol {
	position: relative;
	padding: 20px;
	width: 668px;
	float: right;
	margin: 3px 0 0 -5px;
	border: 1px solid #D9D5CE;
	min-height: 400px;
}
.centreCol a {
	text-decoration:underline;
}
/* Licence select*/
#selectState ul {
	display: inline-block;
	margin: 0;
}
#selectState ul li {
	float:left;
	list-style:none;
	margin: 0 10px 0 0;
	background: white;
	padding: 0 !important;
}
#selectState ul li label {
	display: inline-block !important;
}
#selectState fieldset {
	border-bottom: none !important;
	border-top: 1px solid #D9D5CE;
	margin-top: 10px;
	padding: 10px 0 0 0 !important;
}
ul.licence-states li {
	background: white !important;
	width: 80px !important;
}
ul.licence-states li label {
	line-height: 22px;
}
.licence-options {
	margin-bottom: 0px !important;
}
/* END licence select */
.input-digit label, .input-digit input {
	width: 100px;
}
.medicare-ref label {
	width: 250px !important;
}
ul.help li {
	margin-left: 20px;
}
.input-group .sample-img {
	float: left;
	margin-left: 40px;
}
/* IDV progress bar */
.progress-bar-outer {
	background: #F3F1EE;
	width: 100%;
	padding: 3px;
	border: 1px solid #e2dfda;
}
.progress-bar {
	background: #D3DADF;
	color: #382f2d;
}
.progress-bar span {
	vertical-align: middle;
	font: normal 16px/26px "letter_one", Arial, sans-serif;
}
/************** END updated IDV styles ****************************/
/******************************************************************/
/******************************************************************/
/***************** Extra Global form rules ************************/
/******************************************************************/

.input .extra-line {
	display: block;
	margin-top: 5px;
}
.input-options li {
	padding: 0 !important;
}
.input .multi-address {
	height: 15px !important;
}
.last-group {
	margin-top: 15px;
}
.container {
	border: 1px solid #E2DFDA;
	padding: 19px 19px 9px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	margin: 20px 0;
}
/******************************************************************/
/******** Postbillpay custome skin - hosted by Premier ************/
/******************************************************************/

.card-fields {
	float: left;
}
.accepted-cards {
	float: right;
	padding: 20px;
	margin-top: 35px;
	background: #FAF8F5;
}
.card-group img {
	margin-right: 10px;
}
span.secure-lock {
	width: 65px !important;
}
.payment-process {
	width: 150px;
}
/******************************************************************/
/********************** COAN skin *********************************/
/******************************************************************/

.thankyou-screen ul.copy li {
	margin: 6px 15px !important;
}
.coan-org-tabs .leftCol .wrapper ul li.search {
	background: #D7D2CB url("images/search-brown.png") no-repeat 210px 5px;
}
.coan-org-tabs .leftCol .wrapper ul li.search-active {
	background: #ffffff url("images/search-brown.png") no-repeat 210px 5px;
}
.coan-org-tabs .leftCol .wrapper ul li.most-notified {
	background: #D7D2CB url("images/star-brown.png") no-repeat 210px 5px;
}
.coan-org-tabs .leftCol .wrapper ul li.most-notified-active {
	background: #ffffff url("images/star-brown.png") no-repeat 210px 5px;
}
.org-list .input-options li {
	padding-bottom: 5px !important;
}
.coan-orgs {
	float: left !important;
	width: 480px !important;
	min-height: 540px !important;
	margin: 3px 0 0 -1px !important;
}
.org-list .expando-collapso .rich-text {
	margin: 0px !important;
	padding: 0px !important;
}
.org-expand .input label {
	padding-left: 0px !important;
}
button.coan-tip .tooltip {
	min-width: 140px !important;
}
.added-org-list {
	float: left;
	width: 170px;
	margin: 20px 0 0 15px;
}
.added-orgs {
	margin-top: 15px;
}
span.added-org {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	color: white;
	padding: 4px 0 3px 10px;
	margin: 0 5px 5px 0;
	display: inline-block;
	cursor: pointer;
	background: #5e514d url("images/icon-delete-selected.gif") 150px 8px no-repeat;
	width: 170px;
}
span.added-org:hover {
	background: #807370 url("images/icon-delete-selected.gif") 150px 8px no-repeat;
}
.added-org-details {
	width: 152px;
}
span.added-org .added-org-details p {
	margin: 0;
}
span.added-org .added-org-details hr {
	margin: 3px 0;
}
.previousOrgsList li {
	margin-left: 15px;
}
/**  Styles from previous version of MRSO */
.buttonInvisible {
	
	font-size: 0.01em;
	margin: 0;
	padding: 0;
	border: 0;
	width:0px;
	height:0px;
}

/******************************************************************/
/********************** IE8 fixes *********************************/
/******************************************************************/

.lt-ie9 input[type=text][disabled] {
	font-weight: bold;
}
/******************************************************************/
/********************** IE8 fixes *********************************/
/******************************************************************/
.lt-ie9 span.value input#wp-form:form-wpStreet-decorate:form-wpStreet {
	width: 235px !important;
}
.lt-ie9 #visa-form:form-passportSurname-decorate {
	clear:both !important;
	float: left !important;
}