# This file is used for Git repositories to specify intentionally untracked files that Git should ignore.
# If you are not using git, you can delete this file. For more information see: https://git-scm.com/docs/gitignore
# For useful gitignore templates see: https://github.com/github/gitignore

# Salesforce cache
.sf/
.sfdx/
.localdevserver/
deploy-options.json

# Salesforce project json
sfdx-project.json

# LWC VSCode autocomplete
**/lwc/jsconfig.json

# IDE Plugins
.history/

# LWC Jest coverage reports
coverage/

# scripts dummy files
**/scripts/soql/query_builder.soql
**/scripts/apex/execute_anonymous.apex

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# Eslint cache
.eslintcache

# MacOS system files
.DS_Store

# Windows system files
Thumbs.db
ehthumbs.db
[Dd]esktop.ini
$RECYCLE.BIN/

# Local environment variables
.env

# Editor config files
.editorconfig

# Jetbrains / Illuminated Cloud
IlluminatedCloud/
.idea/
manifest/
package.xml
workspace/
.vscode/
.vscode/settings.json
dist/

#npm
package-lock.json
package.json

# metadata specific
force-app/main/default/staticresources/Cognition_StaticRes/css/Icon\r
force-app/main/default/staticresources/Cognition_StaticRes/images/Icon\r
force-app/main/default/staticresources/Cognition_StaticRes/js/Icon\r
force-app/main/default/staticresources/Cognition_StaticRes/css/Icon?
force-app/main/default/staticresources/Cognition_StaticRes/images/Icon?
force-app/main/default/staticresources/Cognition_StaticRes/js/Icon?

#ignoring metadata types currently not tracked
# this include irrellivent types and environment specific types
**/installedPackages/
**/certs/
**/reports/
**/dashboards/
**/contentassets/
**/objectTranslations/
**/myDomainDiscoverableLogins/
**/blacklistedConsumers/
**/oauthcustomscopes/
**/customindex/
**/IPAddressRanges/
**/mlPredictions/
**/mlRecommendations/
**/mlDataDefinitions/
**/discovery/
**/samlssoconfigs/
**/salesworkqueuesettings/
**/callCoachingMediaProviders/

**/staticresources/*/__MACOSX/*
