.titlestyle{
	background-color: rgba(65, 148, 249, 1);
	color:white;
	text-align: center;
	padding:20px;
}
.sectionstyle{
	text-align: center;
	padding:10px;
}
.labelstyle{
	color:  #444444;
	font-size:  0.75rem;
	padding-right:  0.5rem;
    padding-top: 0.25rem;
	margin-bottom:  0.125rem;
}
.slds-box {
	padding: 8px !important;
	/*border: 0px !important;*/
}