.THIS {
    background: white;
    padding: 20px;
}

.THIS .top-div {
    width: 75%
}

.THIS .img-circle {
    border-radius: 50%;
}

.THIS .user-FullName {
    margin-top: 15px;
    margin-left: 10px;
}

.THIS .user-FullName-Font {
    font-size: larger;
    font-weight: 900;
}

.THIS .other-detail {
    margin-top: 5px;
    margin-left: 10px;
}

.THIS .hr-Line {
    background: lightgray;
    height: 2px;
    margin-top: 20px;
    margin-bottom: 0px;
}