.text-center {
	text-align:center;
}
.icon {
	display: inline-flex;
	position:relative;
	flex-direction: row;
	justify-content: space-between;
}
.textAreaBody {
	--sds-c-textarea-sizing-min-height:130px;
}