.THIS .top-bit{
    padding-top:16px;
    margin-bottom:32px;
}
@media (max-width: 680px) {
    .THIS .top-bit{
        margin-bottom:48px;
    } 
}
.THIS .wizard-body-with-nav-outer {
    margin-top: none; 
    margin-bottom: none; 
}
.THIS .white-card { 
    padding:56px;
    background-color: #ffffff;
}

@media (max-width: 680px) {
    .THIS .white-card {
        padding: 32px 16px 32px 16px;
        background-color: #ffffff;
    }
}
.THIS .separator-gap{
    padding:32px 0 32px 0;
}
.THIS .wizard-body-with-nav-outer {
    margin-top: 20px;
    margin-bottom: 970px;  /* To take in to account the Thank You Tiles position absolute */
}

@media (min-width: 680px) {
    .THIS .wizard-body-with-nav-outer {
        margin-top: 60px;
        margin-bottom: 580px;  /* To take in to account the Thank You Tiles position absolute */
    }
}

@media (max-width: 1140px) {
    .THIS .wizard-body-with-nav-outer {
        width: auto; 
        margin-left: 0; 
    }
}
@media (min-width: 680px)
    {
    .THIS .cChasBspDeflection {
        width: 544px;
    }
}
.THIS .indicative{
    font-size:12px;
    line-height:20px;
    padding:40px 20px 0 20px;
}
@media (min-width: 680px){
    .THIS .indicative{
        padding:40px 40px 0 80px;
    }
}