.THIS {
    --text-color: #212129;
    --error-color: #BD152E;
    background-color: #F5F5F5;
}

.THIS .mainContentArea {
    max-width: 656px;
    padding: 40px 0px;
    margin-left: auto;
    margin-right: auto;
}

.THIS .form-heading {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.875rem;
    letter-spacing: 0.8px;
    color: var(--text-color);
}

.THIS .form-sub-heading {
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1rem;
    letter-spacing: 0.1px;
    color: #4D4D54;
}

.THIS .left-arrow {
    height: 10px;
    width: 10px;
}

.THIS a.back-link {
    text-decoration: none;
}

.THIS .back-text {
    color: #003359;
    font-weight: 500;
    font-size: 0.625rem;
    line-height: 0.875rem;
    padding-left: 0.5rem;
    letter-spacing: 0.8px;
}

.THIS .form-elements-padding {
    padding: 1.5rem 1rem;
}

/* Form labels */
.THIS .sths-guest-user-form .slds-form-element__label {
    color: var(--text-color);
    font-size: 1rem;
    font-style: normal;
    line-height: 1.5rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.THIS .sths-guest-user-form .feedback-checkbox .slds-form-element__label {
    font-weight: 400;
}

/* Form inputs */
.THIS .sths-guest-user-form lightning-input:not(.slds-has-error) .slds-input,
.THIS .sths-guest-user-form lightning-combobox:not(.slds-has-error) .slds-combobox__input,
.THIS .sths-guest-user-form lightning-textarea:not(.slds-has-error) .slds-textarea {
    border: 2px solid #919194;
    border-radius: 6px;
}

.THIS .sths-guest-user-form .slds-input,
.THIS .sths-guest-user-form .slds-textarea,
.THIS .sths-guest-user-form .form-dropdown .slds-dropdown, 
.THIS .sths-guest-user-form .form-dropdown .slds-input_faux {
    color: var(--text-color);
    font-size: 1rem;
    font-style: normal;
    line-height: 1.5rem;
    font-weight: 400;
    padding-top: 10px;
    padding-bottom: 10px;
}

.THIS .sths-guest-user-form .slds-input {
    min-height: 44px;
}

.THIS .sths-guest-user-form .slds-textarea {
    min-height: 142px;
}

.THIS .sths-guest-user-form .slds-checkbox .slds-checkbox_faux {
    border: 2px solid #919194;
    border-radius: 3px;
    --slds-c-checkbox-mark-color-foreground: #003359; /* checkbox checked color */
}

.THIS .sths-guest-user-form .slds-combobox .slds-icon-text-default {
    --slds-c-icon-color-foreground: #31313D; /* icon color */
}

/* Form buttons */
.THIS .sths-guest-user-form lightning-button.submitBtn .slds-button_brand {
    width: 100%;
    background-color: #003359;
    border-radius: 0.5rem;
    min-height: 44px;
    font-size: 1rem;
}

/* Form errors */
.THIS .sths-guest-user-form .slds-has-error {
    --slds-c-input-color-border: var(--error-color);
    --slds-c-input-shadow: var(--error-color) 0 0 0 1px inset;
    --lwc-colorBorderError: var(--error-color);
}

.THIS .sths-guest-user-form .slds-has-error .slds-form-element__help {
    --lwc-colorTextError: var(--error-color);
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.THIS .sths-guest-user-form .slds-required {
    display: none;
}

.THIS .sths-guest-user-form div.slds-form-element__help:before {
    content:"";
    background: url('/sfsites/c/resource/STHS_Icons/sths_icons/svgs/forms/error_input.svg') no-repeat;
    margin-right: 0.5rem;
    width: 16px;
    height: 16px;
    display: inline-block;
}

.THIS .sths-guest-user-form .slds-has-error {
    display: flex;
    flex-direction: column;
}

.THIS .sths-guest-user-form .slds-has-error .slds-form-element__label {
    order: 1;
}

.THIS .sths-guest-user-form .slds-has-error .slds-form-element__control {
    order: 3;
}

.THIS .sths-guest-user-form .slds-has-error .slds-form-element__help {
    order: 2;
    margin-bottom: 0.5rem;
}

.THIS .sths-guest-user-form .form-dropdown.slds-has-error .slds-input_faux:not(.slds-combobox__input-value) {
    color: var(--error-color);
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .THIS .form-elements-padding {
        padding: 2rem;
    }
}