/*=====  Start of _typeface.scss  ======*/
/*=====  End of _typeface.scss  ======*/
/* font normal */
/* background color */
/*=====  Start of _content-layout.scss  ======*/
.THIS {
    --primary-text-color: #212129;
    --secondary-text-color: #4D4D54;
    --error-color: #BD152E;
    --white-background: #FFFFFF;
    background-color: #F5F5F5;
    position: relative;
    min-height: 100vh;
}

.THIS::after {
    content: '';
    display: block;
    height: 371px;
    /* Set same as footer's height */
}

.THIS .header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 3;
}

.THIS .mainContentArea {
    max-width: 656px;
    padding: 44px 0px 24px 0px;
    margin-left: auto;
    margin-right: auto;
}

.THIS .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 371px;
    background-color: #FFFFFF;
}

.THIS .form-heading {
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    color: #212129;
    line-height: 1.875rem;
    letter-spacing: 0.8px;
}

.THIS .form-sub-heading {
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    color: #4D4D54;
    line-height: 1rem;
    letter-spacing: 0.1px;
}

.THIS .left-arrow {
    height: 10px;
    width: 10px;
}

.THIS a.back-link {
    text-decoration: none;
}

.THIS .back-text {
    font-size: 0.625rem;
    font-style: normal;
    font-weight: 500;
    color: #003359;
    line-height: 0.875rem;
    padding-left: 0.5rem;
    letter-spacing: 0.8px;
}

.THIS .form-elements-padding {
    padding: 1.5rem 1rem;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .THIS::after {
        height: 126px;
        /* Set same as footer's height */
    }

    .THIS .footer {
        height: 126px;
    }

    .THIS .mainContentArea {
        padding: 44px 0px 64px 0px;
    }
}

/*=====  End of _content-layout.scss  ======*/
/* font normal */
/*=====  Start of _form-errors.scss  ======*/
/* Form errors */
.THIS .sths-guest-user-form .slds-has-error {
    --slds-c-input-color-border: #BD152E;
    --slds-c-input-shadow: #BD152E 0 0 0 1px inset;
    --lwc-colorBorderError: #BD152E;
}

.THIS .sths-guest-user-form .slds-has-error .slds-form-element__help {
    --lwc-colorTextError: #BD152E;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem;
}

.THIS .sths-guest-user-form .slds-required {
    display: none;
}

.THIS .sths-guest-user-form div.slds-form-element__help:before {
    content: "";
    background: url("/sfsites/c/resource/STHS_Icons/sths_icons/svgs/forms/error_input.svg") no-repeat;
    margin-right: 0.5rem;
    width: 16px;
    height: 16px;
    display: inline-block;
}

.THIS .sths-guest-user-form .slds-has-error {
    display: flex;
    flex-direction: column;
}

.THIS .sths-guest-user-form .slds-has-error fieldset {
    display: contents;
}

.THIS .sths-guest-user-form .slds-has-error fieldset[lightning-radiogroup_radiogroup] .slds-form-element__label,
.THIS .sths-guest-user-form .slds-has-error .slds-form-element__label {
    order: 1;
}

.THIS .sths-guest-user-form .slds-has-error fieldset[lightning-radiogroup_radiogroup] .slds-form-element__control,
.THIS .sths-guest-user-form .slds-has-error .slds-form-element__control {
    order: 3;
}

.THIS .sths-guest-user-form .slds-has-error fieldset[lightning-radiogroup_radiogroup] .slds-form-element__help,
.THIS .sths-guest-user-form .slds-has-error .slds-form-element__help {
    order: 2;
    margin-bottom: 0.5rem;
}

.THIS .sths-guest-user-form .form-dropdown.slds-has-error .slds-input_faux:not(.slds-combobox__input-value) {
    color: #BD152E;
}

/*=====  End of _form-errors.scss  ======*/
/*=====  Start of _form-buttons.scss  ======*/
.THIS .sths-guest-user-form lightning-button.submitBtn .slds-button_brand {
    width: 100%;
    background-color: #003359;
    border-radius: 0.5rem;
    min-height: 44px;
    font-size: 1rem;
}

/*=====  End of _form-buttons.scss  ======*/
/* solid border */
/* font normal */
/* background color */
/*=====  Start of _form-inputs.scss  ======*/
.THIS .sths-guest-user-form lightning-input:not(.slds-has-error) .slds-input,
.THIS .sths-guest-user-form lightning-combobox:not(.slds-has-error) .slds-combobox__input,
.THIS .sths-guest-user-form lightning-textarea:not(.slds-has-error) .slds-textarea {
    border: 2px solid #919194;
    border-radius: 6px;
}

.THIS .sths-guest-user-form .slds-input,
.THIS .sths-guest-user-form .slds-textarea,
.THIS .sths-guest-user-form .form-dropdown .slds-dropdown,
.THIS .sths-guest-user-form .form-dropdown .slds-input_faux {
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    color: #212129;
    line-height: 1.5rem;
    padding-top: 10px;
    padding-bottom: 10px;
}

.THIS .sths-guest-user-form .slds-input {
    min-height: 44px;
}

.THIS .sths-guest-user-form .slds-textarea {
    min-height: 142px;
}

.THIS .sths-guest-user-form .slds-combobox .slds-icon-text-default {
    --slds-c-icon-color-foreground: #31313D;
    /* icon color */
}

/*=====  End of _form-inputs.scss  ======*/
/* font normal */
/* background color */
/*=====  Start of  _form-labels.scss  ======*/
/* Form labels */
.THIS .sths-guest-user-form .slds-form-element__label {
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    color: #212129;
    line-height: 1.5rem;
    margin-bottom: 0.5rem;
}

/*=====  End of  _form-labels.scss  ======*/
/* solid border */
/*=====  Start of _guest-user-form.scss  ======*/
.THIS .sths-guest-user-form .form-top-padding {
    padding-top: 1.5rem;
}

.THIS .sths-guest-user-form .box-background {
    background-color: #FFFFFF;
}

.THIS .sths-guest-user-form .line-border {
    border: 1px solid #E2E2E2;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .THIS .form-elements-padding {
        padding: 2rem;
    }

    .THIS .sths-guest-user-form .form-top-padding {
        padding-top: 2rem;
    }
}

/*=====  End of _guest-user-form.scss  ======*/
