/* apply a natural box layout model to all elements */
* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
/* GLOBAL FIXES */
.people-name input {
	height: 31px !important;
}
select {
	padding: 7px 10px 7px 10px !important;
}
/* GLOBAL OVERRIDES */
#footer {
	padding-top: 0 !important;
}
.sub-footer-links {
	margin-bottom: 20px !important;
}
span.footer-secure-lock {
	float: left;
	background: url(../images/secure-lock-inner.png) no-repeat left 0;
	height: 30px;
	display: block;
	padding: 6px 0 0 25px;
	width: 102px;
	font-size: 11px;
	line-height: 14px;
	margin: 10px 0 0 10px;
	color: #444;
}
/* any non-core styles for MRSO */
/*
.l-header {
	background: url("../images/bg-header-app-outer.png") repeat-x !important;
}
*/
.top-nav {
	height: 30px !important;
}
.primary-nav h3 {
	color: #382f2d !important;
}
.header {
	width: 100%;
	margin-top: 30px;
	height: 81px;
	background-color: #fbf8f1;
	border-bottom: 1px #ebeaea;
}
.nav {
	max-width: 940px;
	width: 92.1%;
	box-sizing: border-box;
	margin: 0 auto;
}
.nav img {
	margin-top: 10px;
}
.top-nav {
	width: auto;
}
.l-header {
	min-width: 100%;
	margin: inherit auto;
}
h2.success {
	color: #067a3d;
}
.input.dates input {
	background: #edeae6 url("images/icon-calendar.png") no-repeat 98% 4px;
	cursor: pointer;
}
.actions .buttons {
	float: right;
}
.save-application {
	margin-right: 40px;
}
.stepNav {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px/3px;
	-khtml-border-radius: 3px/3px;
	border-radius: 3px;
	background: #F3F1EE;
	height: 67px;
	padding: 0;
	margin: 0;
	border: 1px solid #e2dfda;
	cursor: pointer;
}
.stepNav li {
	width: 312px;
	padding: 10px 50px;
	margin: 0;
	color: #807370;
	background: transparent url("images/step-nav-arrow.png") no-repeat;
}
.stepNav li.selected {
	color: #ed171f;
}
.stepNav li:first-child {
	background: transparent;
}
.stepNav li.completed a {
	background: transparent url("images/step-nav-complete.png") no-repeat center right;
	padding-right: 50px;
	color: #807370;
}
.stepNav li h3 {
	font-size: 26px;
	font-weight: bold;
	margin: 0;
	color: #807370;
}
.stepNav li.selected h3, .stepNav li.selected a {
	color: #dc1928;
}
a.step {
	font-family: "Letter_one";
	font-size: 16px;
	font-weight: bold;
	text-decoration: none;
	color: #807370;
}
a.step:visited {
	color: #807370;
}
.moveType {
	margin-right: 20px;
}
ul {
	padding-left: 0;
}
ul.choose-duration li {
	display: inline-block;
	margin: 0 !important;
}
ul.choose-duration li label {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px/3px;
	-khtml-border-radius: 3px/3px;
	border-radius: 3px;
	width: 145px;
	margin: 10px 30px 10px 0px;
	padding: 20px;
	border: 1px solid #e2dfda;
	cursor: pointer;
	text-align: center;
	font-size: 16px;
	font-family: "Letter_one", sans;
	font-weight: bold;
}
ul.choose-duration li label:hover {
	background: #FAF8F5;
	color: #382F2D;
	-moz-box-shadow:    inset 0 0 3px #807370;
	-webkit-box-shadow: inset 0 0 3px #807370;
	box-shadow:         inset 0 0 3px #807370;
}
.extend-date {
	position: relative;
	display: inline-block;
	height: 104px;
	top:-18px;
}
ul.choose-duration li label .price {
	font-family: Arial, "Sans Serif";
	font-size: 13px;
	font-weight: normal;
}
.total-price {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px/3px;
	-khtml-border-radius: 3px/3px;
	border-radius: 3px;
	padding: 20px;
	border: 1px solid #e2dfda;
	text-align: center;
	font-size: 16px;
	font-family: "Letter_one", sans;
	font-weight: bold;
	margin: -20px 0 0 0 !important;
	background: #FAF8F5;
	color: #382F2D;
	-moz-box-shadow:    inset 0 0 3px #807370;
	-webkit-box-shadow: inset 0 0 3px #807370;
	box-shadow:         inset 0 0 3px #807370;
	width: 180px !important;
}
span.price-info {
	font-size: 11px;
	font-weight: normal;
	font-family: Arial, "Sans Serif";
	color: #807370;
}
fieldset {
	border-bottom: 1px solid #d9d9d9;
	padding: 10px 0 20px;
}
.infotip {
	position: relative;
	margin-top: 6px;
	text-indent: 0;
	overflow: visible;
}
.tooltip {
	min-width: 250px;
	left: 22px;
	top: -20px;
	text-align: left;
}
.tooltip p {
	color: #333333;
}
input, textarea, select, input[type=text], input[type=email] {
	height: auto;
}
#inputFinishDate {
	display: none;
}
.cleared {
	clear: both;
}
.address {
	float: left;
}
.dates {
	float: left;
}
.international-address-input {
	float: left;
	width: 500px;
}
.int-field {
	margin-top: 15px !important;
}
.int-state {
	width: 108px !important;
	margin-left: 0 !important;
}
.int-address {
	margin-left: 0 !important;
}
.input-large select {
	width: 388px !important;
}
.int-small-extra input {
	width: 118px !important;
}
.int-city, .int-city input {
	width: 140px !important;
	margin-right: 10px !important;
}
.input-group .input label {
	height: 18px !important;
}
.person {
	float: left;
	width: 28%;
}
.ageCheck input {
	float: left;
	display: inline-block;
}
.note {
	display: block;
	clear: left;
}
.formText {
	clear: both;
}
.input-large {
	width: auto;
}
.label-full {
	width: 100%;
}
.input ul.full li {
	width: 100% !important;
}
