.THIS {
  margin-bottom: 30px;
  margin-top: 15px;
}

.THIS p {
  line-height: 24px;
}

.THIS h1, .THIS p {
  text-align: center;
  color: #292f33;
}

.THIS h1 {
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 14px;
}