.THIS .slds-form-element__label .label{   
    font-family: sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #3E3E3C;
    padding-top:2px;
} 
.THIS #labelId{   
    font-family: sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #3E3E3C;
    padding-top:2px;
} 
.THIS#divId{
    padding-top:15px;
}

.THIS dt dd{
    font-family: sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #3E3E3C;
}