.disabledLink {
	pointer-events: none;
	cursor: default;
}

.disableSection{
	opacity: 0.5;
	pointer-events: none;
	cursor: default;
}

.clickable{
	cursor:pointer;
	border: thin solid #dddbda;
	border-radius: 4px;
}

.clickable:hover{
	background-color: #f4f6f9;
}

.footerStyle{
	background-color: #f4f6f9;
}

.headerTextStyle {
	font-weight: bold;
	position: relative;
	top: -10px;
}

.slds-scope .slds-card {
	border-style: initial !important;
}

.slds-scope .slds-icon-standard-checkout .slds-icon-standard-contract .slds-icon-standard-quotes  .slds-icon-standard-custom18 {
	background-color: var(--slds-c-icon-color-background, var(--sds-c-icon-color-background, #6ec06e)) !important;
}

.slds-truncate {
	white-space: pre-wrap !important;
	text-align: justify !important;
	font-size: 11px !important;
	font-weight: normal !important;
}

.boldTextStyle {
	font-weight: 600 !important;
}

.alertBackgroundStyle {
	position: absolute !important;
	top: 50px !important;
	background-color: lightgrey !important;
	width: 100% !important;
	margin: 0px !important;
	background: rgb(86 81 81 / 80%) !important;
	max-width: 80 rem !important;
}

.alertContentStyle {
	margin: 25px !important;
	border: 1px inset;
}

.alertActionStyle{
	margin-top: 15px;
	text-align: center !important;
}