.confirmation-body-text {
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--primary-text-color);
}

.body-padding {
    padding-left: 2rem;
    padding-right: 2rem;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .body-padding {
        padding-left: 4rem;
        padding-right: 4rem;
    }
}