/**
 * @author Hasantha Liyanage
 * @date 2023-09-19
 * @group child component
 * @domain BSP
 * @description Type ahead component for BSP
 * @changelog
 * 2023-09-19 - Hasantha Liyanage  - Created
 */
.bsp-body_small { color: #4D4D54; font-size: 0.8125rem; font-weight:normal; line-height: 1rem; }
.hide-required-asterisk::after {
	content: ""; /* Remove the content (asterisk) */
}