html, body {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
	min-height: 100vh;
    display: flex;
	flex-direction: column;
}

/*********************************************************
 * Toast Declarations
 *********************************************************/
.forceToastMessage.slds-notify--toast {
    padding-top: 1rem;
    padding-bottom: 1rem;
    position: relative;
    overflow: hidden;
}
.forceToastMessage.slds-notify--toast:before, .forceToastMessage.slds-notify--toast:before {
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    position: absolute;
    content: "";
    z-index:20;
}
.forceCommunityToastManager .toastContent {
    font-size: 1rem;
}
.toastContainer.slds-notify_container .slds-button.toastClose {
	top: 50%;
    margin-top: -9px;   
}
.toastContainer.slds-notify_container .slds-button.toastClose svg {
    width: 9px;
    height: 9px;
}

.slds-theme_success, .slds-theme--success {
    background-color: #DFF0D8;
}
.slds-theme_success:before, 
.slds-theme--success:before {
    background-color: #3E753F;
}
.slds-theme_success .toastMessage, 
.slds-theme--success .toastMessage {
    color: #3E753F;
}
.slds-theme_success svg, 
.slds-theme--success svg {
    fill: #3E753F;
    color: #3E753F;
}



.slds-theme_info, .slds-theme--info {
    background-color: #E7EFF5;
}
.slds-theme_info:before, 
.slds-theme--info:before {
    background-color: #1064A3;
}
.slds-theme_info .toastMessage, 
.slds-theme--info .toastMessage {
    color: #1064A3;
}
.slds-theme_info svg, 
.slds-theme--info svg {
    fill: #1064A3;
    color: #1064A3;
}




.slds-theme_error, .slds-theme--error {
    background-color: #F8E7E8;
}
.slds-theme_error:before, 
.slds-theme--error:before {
    background-color: #BC111E;
}
.slds-theme_error .toastMessage,
.slds-theme--error .toastMessage {
    color: #BC111E;
}

.slds-theme_error svg, .slds-theme--error svg {
    fill: #BC111E;
    color: #BC111E;
}

/*********************************************************
 * Font Declarations
 *********************************************************/
@font-face {
    font-family: 'AP Letter';
    src: url("sfsites/c/resource/cpApFonts/letter-bold-webfont.woff2") format("woff2"), url("sfsites/c/resource/cpApFonts/letter-bold-webfont.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'AP Letter';
    src: url("sfsites/c/resource/cpApFonts/letter-bolditalic-webfont.woff2") format("woff2"), url("sfsites/c/resource/cpApFonts/letter-bolditalic-webfont.woff") format("woff");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'AP Letter';
    src: url("sfsites/c/resource/cpApFonts/letter-light-webfont.woff2") format("woff2"), url("sfsites/c/resource/cpApFonts/letter-light-webfont.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'AP Letter';
    src: url("sfsites/c/resource/cpApFonts/letter-lightitalic-webfont.woff2") format("woff2"), url("sfsites/c/resource/cpApFonts/letter-lightitalic-webfont.woff") format("woff");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'AP Letter';
    src: url("sfsites/c/resource/cpApFonts/letter-medium-webfont.woff2") format("woff2"), url("sfsites/c/resource/cpApFonts/letter-medium-webfont.woff") format("woff");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'AP Letter';
    src: url("sfsites/c/resource/cpApFonts/letter-mediumitalic-webfont.woff2") format("woff2"), url("sfsites/c/resource/cpApFonts/letter-mediumitalic-webfont.woff") format("woff");
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'AP Letter';
    src: url("sfsites/c/resource/cpApFonts/letter-regular-webfont.woff2") format("woff2"), url("sfsites/c/resource/cpApFonts/letter-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AP Letter';
    src: url("sfsites/c/resource/cpApFonts/letter-regularitalic-webfont.woff2") format("woff2"), url("sfsites/c/resource/cpApFonts/letter-regularitalic-webfont.woff") format("woff");
    font-weight: normal;
    font-style: italic;
}
:root { --dxp-c-section-columns-max-width: 1170px; }