@import 'abstracts/variables';

/*=============================================
=            Begin _form-buttons.scss            =
=============================================*/
/* Form buttons */
.THIS .sths-guest-user-form lightning-button.submitBtn .slds-button_brand {
  width: 100%;
  background-color: $button-primary-color;
  border-radius: 0.5rem;
  min-height: 44px;
  font-size: 1rem;
}

/*=====  End of _form-buttons.scss  ======*/