.info-text {
	padding:8px 15px;
	margin-bottom:20px;
	background-color:#eee;
	border:1px solid #dfdfdf;
	border-radius: 3px;
	line-height:30px;
}

.info-text p{
	margin:10px 0;
}
.info-text p strong{
	white-space: nowrap;
}

.info-text a{
	text-decoration:underline;
	white-space:nowrap;
}