/*
2020-04-01 nathan.franklin@auspost.com.au Created
2022-11-18 dattaraj.deshmukh@auspost.com.au Added 'clickableDiv',clickableDiv:hover, slds-pill__remove class to show case investigations pills.
2024-07-12 - Seth Heang - Added styling for StarTrack warning display
*/
article.is-article .article-selector {
	border-bottom-right-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
}

.article-status-slot {

}

/*@media --lwc-mqMedium {*/
@media screen and (min-width: 48em) {
	.article-status-slot {

	}
}

.clickableDiv{
	cursor: pointer;
	display: inline-flex;
	border-radius: 0.25rem;
	border-color: var(--sds-c-pill-color-border,#dddbda);
	border-style: solid;
	align-items : center; 
}
.clickableDiv:hover{
	background-color: rgba(204, 0, 0, 0.05);
}

.slds-pill__remove{
	display: none !important;
}

.starTrackWarning{
	background-color: #E5535E;
	text-decoration-color: white;
}