/*
    2020-04-01 nathan.franklin@auspost.com.au Created
*/

:host {
    background-color: #EFEFEF;
    display: block;
}

.read-only-lock {
    position: absolute;
    right: 1.5rem;
    top: 50%;
    transform: translateY(-50%);
}