/* 
2020-07-06 Hara Sahoo:  Added styling for safe drop missing item project
                        Go Back button now sits on the top of the page with UI changes
*/
.THIS .review-container dl div {
    margin-bottom: 8px;
}
.THIS .goBack{
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    color: #DC1928;
    padding-bottom:30px;
}
@media (max-width: 680px) {
    .THIS .goBack{
        padding-bottom:22px;
    }
}
.THIS .chas-button-box {
    border-top: none;
    padding-top:0px !important;
    flex-direction: row;
}
@media (min-width: 680px) {
    .THIS .outer-box { 
    padding:32px 176px 32px 32px;
    width: 656px;
    background-color: #ffffff
}
}

@media (max-width: 680px) {
.THIS .outer-box {
    background-color: #ffffff;
    padding: 32px 16px 32px 16px;
}
}
.THIS .sub-header { 
        padding-bottom:32px;
        padding-top:32px;
    }
@media (max-width: 680px) {
    .THIS .sub-header {
        padding-bottom:32px;
        padding-top:20px;
    }
}