<!-- base -->
<template>
    <main class={mainClass}>
        <div class={computeSectionClasses}>
            <h3 class="slds-section__title slds-theme_shade">
                <button aria-controls="expando-unique-id" aria-expanded={expanded}
                        class={computeButtonClasses} onclick={handleClick}>

                    <svg version="1.1" viewBox="0 0 52 52"
                         class="slds-section__title-action-icon slds-button__icon">
                        <g>
                            <path
                                    d="M47.6,17.8L27.1,38.5c-0.6,0.6-1.6,0.6-2.2,0L4.4,17.8c-0.6-0.6-0.6-1.6,0-2.2l2.2-2.2
                    c0.6-0.6,1.6-0.6,2.2,0l16.1,16.3c0.6,0.6,1.6,0.6,2.2,0l16.1-16.3c0.6-0.6,1.6-0.6,2.2,0l2.2,2.2C48.1,16.3,48.1,17.2,47.6,17.8z">
                            </path>
                        </g>
                    </svg>

                    <div>
                        <lightning-icon if:true={iconName} size="x-small" icon-name={iconName}
                                        alternative-text={sectionTitle} class="slds-var-m-left_xxx-small"></lightning-icon>

                        <span class="slds-truncate slds-var-p-right_small slds-var-p-horizontal_small"
                              title={sectionTitle}>{sectionTitle}</span>
                    </div>

                    <label class="slds-assistive-text">Expand/Collapse</label>
                </button>
            </h3>

            <div aria-hidden={computeAreaHidden} class="slds-section__content">
                <slot></slot>
            </div>
        </div>
    </main>
</template>