.custom-button {
    padding: 0;
    font-size: inherit;
    color: inherit;
    line-height: inherit;
    background: transparent;
    border: 0;
    text-align: inherit;
}

.custom-button:hover {
    box-shadow: none;
    color: var(--slds-c-button-text-color, var(--sds-c-button-text-color, var(--lwc-brandAccessible, rgb(1, 118, 211))));
}

.custom-button:focus {
    box-shadow: none;
    color: var(--slds-c-button-text-color, var(--sds-c-button-text-color, var(--lwc-brandAccessible, rgb(1, 118, 211))));
}