.THIS {
}
.THIS .slds-is-active > a
{
    text-decoration: none!important;
    background-color: rgb(1, 118, 211);
    border-color: rgb(217, 219, 221);
    /*font-weight: 400;*/
    font-weight: normal;
    color: rgb(249, 249, 249);
    font-family: sans-serif;
    font-size: 13px;
    /*line-height: 20px;*/
}
.THIS tab{
    width:100px;
}
.THIS .slds-tabs_scoped__link{
    /*font-size:medium !important;  */
    font-size:0.85rem !important; 
     /*font-size: 0.7rem;*/
}