.picklist-container,
.lookup-container{
    width : 60%;
}

.picklist-container .slds-dropdown,
.lookup-container .slds-dropdown{
    position: relative !important;
    z-index: 99 !important;
    max-height: 120px;
    overflow: scroll;
}

[lightning-combobox_combobox-host]{
    margin-bottom: 17px;
}

th.slds-has-focus, td.slds-has-focus{
    box-shadow: none !important;
}

.slds-table.slds-table--fixed-layout thead th {
    padding: 0.5rem;
}
.slds-table.slds-table--cell-buffer tr>th:first-child {
    padding-left: 1.5rem;
}



