/*  **********************************************
   @import 'variables';
   Sass Variables
   Are
   Here
   ***********************************************
*/


/*  **********************************************
   Stories page 'view more' button
   Is
   Here
   ***********************************************
*/

.THIS.cp-home-articles-area {
    background: #ECEBFF;
    padding-bottom: 73px;
}

.THIS .cp-home-articles-box {
    max-width: 1140px;
    margin: 0 auto;
    padding: 12px;
}

@media (min-width: 769px) {
    .THIS .cp-home-articles-box {
        display: flex;
        justify-content: center;
    }
}

.THIS .cp-home-stories-iterations {
    flex: 1;
}

@media (min-width: 769px) {
    .THIS .cp-home-stories-iterations {
        margin: 0 6px;
    }
}

.THIS .cp-stories-card {
    background: white;
    border-radius: 5px;
    padding: 12px;
    margin-bottom: 12px;
}

.THIS .cp-stories-card .cp-stories-image {
    border-radius: 5px;
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    margin-bottom: 12px;
}

.THIS .cp-stories-card .cp-stories-image iframe, .THIS .cp-stories-card .cp-stories-image img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.THIS .cp-stories-card .cp-stories-heading-text {
    font-family: 'letterbold' !important;
    font-size: 18px;
    padding: 8px 18px;
    height: 60px;
}

.THIS .cp-featured-button-box {
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.THIS .cp-a-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid black;
    border-radius: 3px;
    width: 200px;
    height: 50px;
    margin: 50px 0 70px;
}

.THIS .cp-a-button a {
    width: 100%;
    height: 100%;
    padding-top: 12px;
    text-align: center;
}

.THIS .cp-a-button a span {
    font-family: 'letterbold';
}