.THIS .no-right-padding {
    padding-right: 0;
}

.THIS .no-top-padding .slds-card__header {
    padding-top: 0;
}

.THIS .cUnifiedCustomRecordPageTemplate {
    margin-right: 0 !important;
}

.THIS .compact-min-width {
    margin-left: 0;
    margin-top: 0;
}

.THIS .slds-text-heading_small {
    margin-left: -12px;
}

.THIS .top-left-element .slds-col{
    padding-left: 0;
}

.THIS .conversation-card {
    min-width: auto !important;
}
