/*
@changelog: 23-07-2010 hara.sahoo@auspost.com.au Added new styling as per the Help and Support form uplift 
*/
.THIS .faq-section li {
	list-style: disc outside none;
    margin-left: 28px;
    padding: 5px 10px;
}
.THIS .outer-box { 
    padding:32px 32px 32px 32px;
    max-width: 656px;
    background-color: #ffffff
}

@media (max-width: 680px) {
.THIS .outer-box {
    background-color: #ffffff;
    padding: 32px 16px 32px 16px;
}
}
.THIS .form-input-container {
    max-width : none;	
}

.THIS .item-detail-header {
  font-weight: bold;
  font-size: 18px;
}

.THIS .tracking-error .info-box {
    border: none;
    border-left: 3px solid #EDA51F;
    background-color: #FBEDD2;
}

.THIS .tracking-info .info-box {
    border: none;
    border-left: 3px solid #3587DA;
    background-color: #D7E7F7;
}

.THIS .standard-info .info-box {
    border: 3px;
    background-color: #D7E7F7;
}

.THIS .message-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    font-style: normal;
    margin-bottom: 12px;
}

.THIS .message-icon {
    min-width: 20px;
    width: 20px;
}

.THIS .link-plain {
    color: inherit;
    transition: none;
    text-decoration: underline;
}

.THIS .tabbed-bullet {
    list-style-type:disc;
    margin-left: 15px;
}

.THIS .chas-button-box {
    border-top: 0px !important;
    display: block !important;
    padding-top: 0px !important;
}

.THIS .chas-button-box-container {
    padding-bottom: 32px;
}