/*
@changelog: 23-07-2010 hara.sahoo@auspost.com.au Added new styling as per the Help and Support form uplift 
*/
.THIS .faq-section li {
	list-style: disc outside none;
    margin-left: 28px;
    padding: 5px 10px;
}
.THIS .outer-box { 
    padding:32px 32px 32px 32px;
    max-width: 656px;
    background-color: #ffffff
}

@media (max-width: 680px) {
.THIS .outer-box {
    background-color: #ffffff;
    padding: 32px 16px 32px 16px;
}
}
.THIS .form-input-container {
    max-width : none;	
}

.THIS .item-detail-header {
  font-weight: bold;
  font-size: 18px;
}