/*
@changelog: Created 23-07-2010 hara.sahoo@auspost.com.au Added new styling as per the Help and Support form uplift 
*/
.THIS .chas-button-box {
    border-top: none;
    padding-top:0px !important;
    flex-direction: row;
}
.THIS .form-input-container{
    max-width:none;
}