@font-face {
  font-family: 'letter_one';
  src: url("fonts/letterone.eot?orgId=00D30000001GGce&orgId=00D30000001GGce&orgId=00D30000001GGce&orgId=00D5D0000004iik&orgId=00DN0000000AsnE");
  src: url("fonts/letterone.eot?orgId=00D30000001GGce&orgId=00D30000001GGce&orgId=00D30000001GGce&orgId=00D5D0000004iik&orgId=00DN0000000AsnE#iefix") format("embedded-opentype"), url("fonts/letterone.woff?orgId=00D30000001GGce&orgId=00D30000001GGce&orgId=00D30000001GGce&orgId=00D5D0000004iik&orgId=00DN0000000AsnE") format("woff"), url("fonts/letterone.ttf?orgId=00D30000001GGce&orgId=00D30000001GGce&orgId=00D30000001GGce&orgId=00D5D0000004iik&orgId=00DN0000000AsnE") format("truetype"), url("fonts/letterone.svg?orgId=00D30000001GGce&orgId=00D30000001GGce&orgId=00D30000001GGce&orgId=00D5D0000004iik&orgId=00DN0000000AsnE#letter_oneregular") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'letter_one';
  src: url("fonts/letterone-bold.eot?orgId=00D30000001GGce&orgId=00D30000001GGce&orgId=00D30000001GGce&orgId=00D5D0000004iik&orgId=00DN0000000AsnE");
  src: url("fonts/letterone-bold.eot?orgId=00D30000001GGce&orgId=00D30000001GGce&orgId=00D30000001GGce&orgId=00D5D0000004iik&orgId=00DN0000000AsnE#iefix") format("embedded-opentype"), url("fonts/letterone-bold.woff?orgId=00D30000001GGce&orgId=00D30000001GGce&orgId=00D30000001GGce&orgId=00D5D0000004iik&orgId=00DN0000000AsnE") format("woff"), url("fonts/letterone-bold.ttf?orgId=00D30000001GGce&orgId=00D30000001GGce&orgId=00D30000001GGce&orgId=00D5D0000004iik&orgId=00DN0000000AsnE") format("truetype"), url("fonts/letterone-bold.svg?orgId=00D30000001GGce&orgId=00D30000001GGce&orgId=00D30000001GGce&orgId=00D5D0000004iik&orgId=00DN0000000AsnE#letter_onebold") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'letter_one';
  src: url("fonts/letterone-bolditalic.eot?orgId=00D30000001GGce&orgId=00D30000001GGce&orgId=00D30000001GGce&orgId=00D5D0000004iik&orgId=00DN0000000AsnE");
  src: url("fonts/letterone-bolditalic.eot?orgId=00D30000001GGce&orgId=00D30000001GGce&orgId=00D30000001GGce&orgId=00D5D0000004iik&orgId=00DN0000000AsnE#iefix") format("embedded-opentype"), url("fonts/letterone-bolditalic.woff?orgId=00D30000001GGce&orgId=00D30000001GGce&orgId=00D30000001GGce&orgId=00D5D0000004iik&orgId=00DN0000000AsnE") format("woff"), url("fonts/letterone-bolditalic.ttf?orgId=00D30000001GGce&orgId=00D30000001GGce&orgId=00D30000001GGce&orgId=00D5D0000004iik&orgId=00DN0000000AsnE") format("truetype"), url("fonts/letterone-bolditalic.svg?orgId=00D30000001GGce&orgId=00D30000001GGce&orgId=00D30000001GGce&orgId=00D5D0000004iik&orgId=00DN0000000AsnE#letter_onebold_italic") format("svg");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'letter_one';
  src: url("fonts/letterone-italic.eot?orgId=00D30000001GGce&orgId=00D30000001GGce&orgId=00D30000001GGce&orgId=00D5D0000004iik&orgId=00DN0000000AsnE");
  src: url("fonts/letterone-italic.eot?orgId=00D30000001GGce&orgId=00D30000001GGce&orgId=00D30000001GGce&orgId=00D5D0000004iik&orgId=00DN0000000AsnE#iefix") format("embedded-opentype"), url("fonts/letterone-italic.woff?orgId=00D30000001GGce&orgId=00D30000001GGce&orgId=00D30000001GGce&orgId=00D5D0000004iik&orgId=00DN0000000AsnE") format("woff"), url("fonts/letterone-italic.ttf?orgId=00D30000001GGce&orgId=00D30000001GGce&orgId=00D30000001GGce&orgId=00D5D0000004iik&orgId=00DN0000000AsnE") format("truetype"), url("fonts/letterone-italic.svg?orgId=00D30000001GGce&orgId=00D30000001GGce&orgId=00D30000001GGce&orgId=00D5D0000004iik&orgId=00DN0000000AsnE#letter_oneitalic") format("svg");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'letter_two';
  src: url("fonts/lettertwo.eot?orgId=00D30000001GGce&orgId=00D30000001GGce&orgId=00D30000001GGce&orgId=00D5D0000004iik&orgId=00DN0000000AsnE");
  src: url("fonts/lettertwo.eot?orgId=00D30000001GGce&orgId=00D30000001GGce&orgId=00D30000001GGce&orgId=00D5D0000004iik&orgId=00DN0000000AsnE#iefix") format("embedded-opentype"), url("fonts/lettertwo.woff?orgId=00D30000001GGce&orgId=00D30000001GGce&orgId=00D30000001GGce&orgId=00D5D0000004iik&orgId=00DN0000000AsnE") format("woff"), url("fonts/lettertwo.ttf?orgId=00D30000001GGce&orgId=00D30000001GGce&orgId=00D30000001GGce&orgId=00D5D0000004iik&orgId=00DN0000000AsnE") format("truetype"), url("fonts/lettertwo.svg?orgId=00D30000001GGce&orgId=00D30000001GGce&orgId=00D30000001GGce&orgId=00D5D0000004iik&orgId=00DN0000000AsnE#letter_tworegular") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'letter_two';
  src: url("fonts/lettertwo-bold.eot?orgId=00D30000001GGce&orgId=00D30000001GGce&orgId=00D30000001GGce&orgId=00D5D0000004iik&orgId=00DN0000000AsnE");
  src: url("fonts/lettertwo-bold.eot?orgId=00D30000001GGce&orgId=00D30000001GGce&orgId=00D30000001GGce&orgId=00D5D0000004iik&orgId=00DN0000000AsnE#iefix") format("embedded-opentype"), url("fonts/lettertwo-bold.woff?orgId=00D30000001GGce&orgId=00D30000001GGce&orgId=00D30000001GGce&orgId=00D5D0000004iik&orgId=00DN0000000AsnE") format("woff"), url("fonts/lettertwo-bold.ttf?orgId=00D30000001GGce&orgId=00D30000001GGce&orgId=00D30000001GGce&orgId=00D5D0000004iik&orgId=00DN0000000AsnE") format("truetype"), url("fonts/lettertwo-bold.svg?orgId=00D30000001GGce&orgId=00D30000001GGce&orgId=00D30000001GGce&orgId=00D5D0000004iik&orgId=00DN0000000AsnE#letter_twobold") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'letter_two';
  src: url("fonts/lettertwo-bolditalic.eot?orgId=00D30000001GGce&orgId=00D30000001GGce&orgId=00D30000001GGce&orgId=00D5D0000004iik&orgId=00DN0000000AsnE");
  src: url("fonts/lettertwo-bolditalic.eot?orgId=00D30000001GGce&orgId=00D30000001GGce&orgId=00D30000001GGce&orgId=00D5D0000004iik&orgId=00DN0000000AsnE#iefix") format("embedded-opentype"), url("fonts/lettertwo-bolditalic.woff?orgId=00D30000001GGce&orgId=00D30000001GGce&orgId=00D30000001GGce&orgId=00D5D0000004iik&orgId=00DN0000000AsnE") format("woff"), url("fonts/lettertwo-bolditalic.ttf?orgId=00D30000001GGce&orgId=00D30000001GGce&orgId=00D30000001GGce&orgId=00D5D0000004iik&orgId=00DN0000000AsnE") format("truetype"), url("fonts/lettertwo-bolditalic.svg?orgId=00D30000001GGce&orgId=00D30000001GGce&orgId=00D30000001GGce&orgId=00D5D0000004iik&orgId=00DN0000000AsnE#letter_twobold_italic") format("svg");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'letter_two';
  src: url("fonts/lettertwo-italic.eot?orgId=00D30000001GGce&orgId=00D30000001GGce&orgId=00D30000001GGce&orgId=00D5D0000004iik&orgId=00DN0000000AsnE");
  src: url("fonts/lettertwo-italic.eot?orgId=00D30000001GGce&orgId=00D30000001GGce&orgId=00D30000001GGce&orgId=00D5D0000004iik&orgId=00DN0000000AsnE#iefix") format("embedded-opentype"), url("fonts/lettertwo-italic.woff?orgId=00D30000001GGce&orgId=00D30000001GGce&orgId=00D30000001GGce&orgId=00D5D0000004iik&orgId=00DN0000000AsnE") format("woff"), url("fonts/lettertwo-italic.ttf?orgId=00D30000001GGce&orgId=00D30000001GGce&orgId=00D30000001GGce&orgId=00D5D0000004iik&orgId=00DN0000000AsnE") format("truetype"), url("fonts/lettertwo-italic.svg?orgId=00D30000001GGce&orgId=00D30000001GGce&orgId=00D30000001GGce&orgId=00D5D0000004iik&orgId=00DN0000000AsnE#letter_twoitalic") format("svg");
  font-weight: 400;
  font-style: italic;
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  word-wrap: break-word;
}

html, button, input, select, textarea {
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  color: #807370;
  background-color: #f3f1ee;
  font-size: .813em;
  line-height: 1.538em;
  min-width: 980px;
}

a {
  color: #dc1928;
  text-decoration: none;
}

a:visited {
  color: black;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

a:hover {
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "letter_one", Arial, sans-serif;
}

h1, h2 {
  color: #382f2d;
}

h3, h4, h5, h6 {
  color: #5e514d;
}

h1 {
  font-size: 35px;
  line-height: 37px;
  margin: 15px 0 16px;
}

h2 {
  font-size: 20px;
  line-height: 25px;
  margin: 0 0 12px;
}

h3 {
  font-size: 16px;
  line-height: 24px;
  margin: 0 0 12px;
}

h4 {
  font-size: 13px;
  margin: 0 0 12px;
}

h5 {
  font-size: 12px;
  margin: 0 0 12px;
}

h6 {
  font-size: 11px;
  margin: 0 0 12px;
}

abbr[title] {
  border-bottom: none;
}

b, strong {
  font-weight: 700;
}

blockquote {
  margin: 1em 40px;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

p, pre {
  margin: 10px 0;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: none;
}

q:before, q:after {
  content: '';
  content: none;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

dl, menu, ol, ul {
  margin: 10px 0;
}

li {
  margin: 6px 0;
}

dd {
  margin: 0 0 0 40px;
}

menu, ol, ul {
  padding: 0 0 0 40px;
}

nav ul, nav ol {
  list-style: none;
  list-style-image: none;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: none;
  margin: 7px 0;
  padding: 0;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
  margin-right: 7px;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin: 35px 0;
}

hr {
  border: none;
  border-top: 1px solid #e2dfda;
  margin: 10px 0;
}

h1 a, h2 b, h2 strong {
  display: block;
  color: #dc1928;
}

th {
  background-color: #857874;
  color: #fff;
  padding: 14px 10px 14px 10px;
  border: 1px solid #e2dfda;
  vertical-align: top;
}

td {
  padding: 14px 10px 14px 10px;
  border: 1px solid #e2dfda;
  text-align: center;
  vertical-align: top;
}

tr:nth-child(odd) > td {
  background-color: #fff;
}

tr:nth-child(even) > td {
  background-color: #f3f1ee;
}

thead ~ tbody > tr:nth-child(even) > td {
  background-color: #fff;
}

tbody > tr > th:first-child {
  background-color: #5e514d;
  text-align: right;
}

tbody > tr:nth-child(even) > th ~ td {
  background-color: #fff;
}

.table-features a {
  text-decoration: underline;
}

.table-features > thead th {
  background: #faf8f5;
  color: #382f2d;
}

.table-features th:first-child {
  background-color: transparent;
  color: #382f2d;
  text-align: right;
}

td.included {
  background-color: green;
  color: #fff;
}

td.not-included {
  background-color: red;
  color: #fff;
}

tr:nth-child(even) > td.included {
  background-color: green;
  color: #fff;
}

tr:nth-child(even) > td.not-included {
  background-color: red;
  color: #fff;
}

table.table-features {
  zoom: 1;
}